@font-face {
  font-family: FuturaLight;
  src: url("/public/fonts/futura\ light\ bt.ttf");
}

@font-face {
  font-family: FuturaMedium;
  src: url("/public/fonts/futura\ medium\ bt.ttf");
}

body {
  margin: 0;
  font-family: FuturaLight, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
